html {
  font-family: "Roboto", sans-serif;
}

body {
  margin-top: 2em;
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 5em;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.navBar a {
  text-decoration: none;
  color: black;
}

.amyNav {
  width: 100px;
  height: 19px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
}

.intro {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.text{
  margin-top: 20px;
}

.greeting {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}

.shortIntro{
  font-size: 18px;
}
.mainGreen {
  max-width: 30%;
  max-height: 30%;
  margin-top:-20px;
}

.divider{
  padding-top: 10px;
}

.contactGreeting {
  display: flex;
  justify-content: center;
}

.callToAction {
  display: flex;
  justify-content: center;
}

.contacts {
  display: flex;
  justify-content: space-around;
}

.resume {
  width: 135px;
  height: 35px;
  background: #8DC8A8;
  border-radius: 15px;
  border: 1px white solid;
}

.avatar {
  max-width: 25%;
  max-height: 25%;
}

footer{
  text-size:18px;
  margin-top:8rem;
}