body {
  margin-top: 2em;
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 5em;
}

.navBar {
  display: flex;
}

.amyNav {
  border-radius: 70px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 80px;
  height: 19px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.aboutNav {
  border-radius: 70px;
  padding-right: 20px;
  padding-left: 780px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 57px;
  height: 19px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.projectsNav {
  border-radius: 70px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 80px;
  height: 19px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.contactNav {
  border-radius: 70px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 80px;
  height: 19px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.greeting {
  width: 297px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.mainGreen {
  display: grid;
  grid-template-rows: 5;
  grid-template-columns: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
  width: 283px;
  height: 224px;
}

.contactGreeting {
  display: flex;
  justify-content: center;
}

.callToAction {
  display: flex;
  justify-content: center;
}

.contacts {
  display: flex;
  justify-content: space-around;
}
