body {
  margin-top: 2em;
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 5em;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.amyNav {
  font-weight: 900;
}

.greeting {
  width: 297px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.mainGreen {
  max-width: 20%;
  max-height: 20%;
}

.contactGreeting {
  display: flex;
  justify-content: center;
}

.callToAction {
  display: flex;
  justify-content: center;
}

.contacts {
  display: flex;
  justify-content: space-around;
}

.resume {
  width: 135px;
  height: 35px;
  background: #8DC8A8;
  border-radius: 15px;
  border: 1px white solid;
}

.avatar {
  max-width: 25%;
  max-height: 25%;
}
